@import '../node_modules/bootstrap/dist/css/bootstrap.min.css'

/*@import 'tailwindcss';*/
@font-face {
  font-family: 'Source Sans Pro'; /* A unique name for your font */
  src: url('/fonts/SourceSansPro-Regular.woff2') format('woff2'),
       url('fonts/MyCustomFont.woff') format('woff'); /* Path to font files with format hints */
	font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro'; /* A unique name for your font */
  src: url('/fonts/source-sans-pro-v14-latin-600.woff2') format('woff2'),
       url('fonts/source-sans-pro-v14-latin-600.woff') format('woff'); /* Path to font files with format hints */
	font-display: swap;
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro'; /* A unique name for your font */
  src: url('/fonts/source-sans-pro-v14-latin-700.woff2') format('woff2'),
       url('fonts/source-sans-pro-v14-latin-700.woff') format('woff'); /* Path to font files with format hints */
	font-display: swap;
  font-weight: 700;
  font-style: normal;
}

/* Then, apply the font using the defined name */
body {
	font-family: 'Source Sans Pro', -apple-system, system-ui, BlinkMacSystemFont, 'SegoeUI', Verdana, Avenir, Helvetica, Arial, Roboto, Oxygen, Ubuntu, sans-serif; /* Include a fallback font */
	line-height: 1.5;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}



:root {
	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #f5f5f5;
  /*background-color: #242424; FOR DARK MODE*/
}

input {
	font-family: 'Source Sans Pro';
}

/* Standard syntax */
::placeholder {
  font-family: 'Source Sans Pro';
  opacity: 1; /* Fixes Firefox's default opacity */
}

/* Chrome, Safari, Opera */
::-webkit-input-placeholder {
  font-family: 'Source Sans Pro';
}

/* Firefox 19+ */
::-moz-placeholder {
  font-family: 'Source Sans Pro';
  opacity: 1;
}

/* Internet Explorer 10+ */
:-ms-input-placeholder {
  font-family: 'Source Sans Pro';
}

/* src/index.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	-webkit-tap-highlight-color:transparent;
}

/* ORIGINAL */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* w3schools*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Source Sans Pro', sans-serif;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
	background-color: #0b5ed7 !important; /* Darker shade on tap */
	/*box-shadow: inset 0 3px 5px #0b5ed22 !important;*/ /* Inward shadow */
    /*transform: translateY(1px);  Subtle downward shift */
}

button:focus,
button:focus-visible {
  outline: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #fff;
  }
  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
