/*body {
	border: 1px solid #555;
	padding: 2rem;
}*/

code {
	color: #CC2A6D;
}

.logo-container {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: .75rem;
	align-items: center;
	justify-content: center;
	font-size: 32px;
	flex-shrink: 0;
}

.logo {
    /*height: 3em;
	width: 3rem;*/
    padding: 0;
	margin: 0;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.register-link {
    color: #F02385;
}

.read-the-docs {
    color: #888;
}
